body {
    background: url('tile.jpg') repeat;
    background-size: 100px 100px; /* Set tile size to 100px */
    color: #00FF00;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent dark background for readability */
    border-radius: 10px;
    padding: 20px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    padding-bottom: 20px;
}

h1 {
    color: #00BFFF; /* Slightly Darker Electric Blue */
    flex: 1;
    text-align: left;
    max-width: 33%; /* Ensure h1 only takes up 1/3 of the screen */
}

.main-header img {
    border-radius: 10px;
    width: 500px; /* Resize image to 500px */
    height: auto;
    max-width: 66%; /* Cover about 2/3 of the screen */
    margin-left: 20px; /* Add some space between the h1 and the image */
}

h2 {
    color: #FF1493; /* Brighter Hot Pink */
}

p {
    line-height: 1.5;
    margin: 20px 0;
}

.directory-header {
    color: #FF1493; /* Brighter Hot Pink */
    font-size: 1.5em;
    margin-top: 30px;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align links to the left */
    margin-top: 10px;
}

.directory-link {
    color: #A020F0; /* Electric Purple */
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
}

.directory-link:hover {
    color: #FFFF00; /* Yellow on hover */
}

.yellow {
    color: #FFFF00; /* Yellow for other text elements */
}

.red {
    color: #FF0000; /* Red for other text elements */
}

.light-purple {
    color: #A020F0; /* Electric Purple for other text elements */
}

.light-blue {
    color: #00BFFF; /* Slightly Darker Electric Blue for other text elements */
}

footer {
    margin-top: 40px;
    font-size: 14px;
    color: #FFFFFF;
}

footer p {
    display: inline;
}

footer p.red {
    color: #FF0000; /* Red text */
}

footer p.yellow {
    color: #FFFF00; /* Yellow text */
}
