body {
    background: url('tile.jpg') repeat;
    color: #00FF00;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.7); /* Keep a slightly transparent dark background for readability */
    border-radius: 10px;
    padding: 20px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.main-header h1 {
    color: #7DF9FF; /* Light Blue */
    flex: 1;
    text-align: left;
}

.main-header img {
    border-radius: 10px;
    width: 300px; /* Larger Placeholder Image */
    height: auto;
}

h2 {
    color: #FF69B4; /* Hot Pink */
}

p {
    line-height: 1.5;
    margin: 20px 0;
}

.directory-header {
    color: #FF69B4; /* Hot Pink */
    font-size: 1.5em;
    margin-top: 30px;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align links to the left */
    margin-top: 10px;
}

.directory-link {
    color: #DA70D6; /* Light Purple */
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2em;
}

.directory-link:hover {
    color: #FFFF00; /* Yellow on hover */
}

.yellow {
    color: #FFFF00; /* Yellow for other text elements */
}

.red {
    color: #FF0000; /* Red for other text elements */
}

.light-purple {
    color: #DA70D6; /* Light Purple for other text elements */
}

.light-blue {
    color: #ADD8E6; /* Light Blue for other text elements */
}

footer {
    margin-top: 40px;
    font-size: 14px;
    color: #FFFFFF;
}
